<%# used to render facets with checkboxes on advanced search form,
    we pretty much just use the built-in blacklight render_facet_partials
    helper. 

    But we've provided a local override of the _facet_limit
    partial in our own `views/advanced/_facet_limit.html.erb`,
    that is written to include checkboxes for form selection.

    This is the default display of facets, but you can
    also choose to use _advanced_search_facets_as_select,
    for a chosen.js-compatible multi-select. 
%>

<div class="advanced-facet-limits panel-group">
  <div class="form-group advanced-search-facet">
    <%= label_tag "century_int", :class => "col-sm-3 control-label" do %>
      Century
    <% end %>

    <div class="col-sm-9">
      <%= render_range_input("century_int", :begin) %> - <%= render_range_input("century_int", :end) %>
    </div>
  </div>
    <%= render_facet_partials facet_field_names_for_advanced_search.reject { |f| f == 'century_int' } %>
</div>
