<%- 6.times { |i| -%>
  <div class="form-group advanced-search-field">
      <div class="col-sm-7">
        <%= text_field_tag '', label_tag_default_for(''), :class => 'form-control' %>
      </div>
      <div class="col-sm-1 label-alignment">in</div>
      <div class="col-sm-4">
				<%= select_tag nil,
											 options_for_select(search_fields_for_advanced_search.map { |k, f| [f.label, k] }),
											 class: 'form-control',
											 id: "text_field_#{i}" %>
      </div>
  </div>
<%- } -%>
