<footer style="background-color:#e5b651;width:100%;min-height:100px;padding:25px;text-align:center;">
	<div style="margin:0 auto;width:850px;">
	<img style="height:60px;float:left;padding-right:25px;mix-blend-mode: multiply;" src="https://www.imls.gov/sites/default/files/imls_logo_2c.bmp">
	<img style="height:60px;float:left;padding-right:25px;" src="https://images.squarespace-cdn.com/content/v1/61379af123f7281cfb7d0983/4cf95d1b-5208-46a7-9fbe-028162e7b70b/GKDF-logo-ko.png?format=1500w">
	<img style="height:60px;float:left;mix-blend-mode: multiply;" src="https://infocanvas.upenn.edu/wp-content/uploads/2015/11/cropped-lib_blue72.jpg">
	</div>
	<br style="clear:both;"><br>
	Designed by Human Experience Systems

</footer>