<footer style="background-color:#e5b651;width:100%;min-height:100px;padding:60px 25px; text-align:center;">
	<div style="margin:0 auto;width:430px;display:flex;align-items:center;">
		<%= image_tag 'imls_logo_2c.bmp', style: 'height:100px;float:left;padding-right:25px;mix-blend-mode: multiply;' %>
		<%= image_tag 'GKDF-logo-ko.png', style: 'height:30px;float:left;padding-right:25px;' %>
	</div>
	<p style="font-size:11pt;color:#eee;margin-top:20px;">Copyright © 2023 Digital Scriptorium 2.0 | Design by Human Experience Systems</p>
</footer>
