<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading">Introducing the Digital Scriptorium Catalog!</h1>

  <p class="lead">
		Curious about the development and technology behind DS Catalog? <br>
			<a target="_blank" href="https://digital-scriptorium.org/about/ds-2-0/">Learn more about the DS 2.0 Project here. </a>
  </p>
</div>

 

<div id="getting-started">
	<div class="card card-default">
		<div class="card-body">
			<p>The DS Catalog connects researchers to pre- and early modern manuscript books in DS member institutions. Built on Wikibase, the DS Catalog aggregates supplied DS member metadata and enriches it by linking to external authorities and resources for enhanced research in a Linked Open Data environment.</p>
			<p>Please note: The addition of current DS Member Institution data has begun and will continue through Summer 2023.</p>
			<p><strong>Be advised:</strong><br>
			DS records may appear to display inconsistent metadata. This is due to different cataloging practices and standards used among member institutions. We view these issues as part of our process to both understand different approaches and to lead US institutions to more consistent description practices. During the beta phase, we will be evaluating the impact of these discrepancies to determine possible solutions.
			The addition of current DS Member Institution data has begun and will continue through Summer 2023.
			</p>
			<p style="font-weight:600;">
			Did you find a bug? Want to suggest an improvement? Take the <a targert="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdRalB0WyU62_WwLKd7j_Hks5avUZGeM6ls-4UdZ-FM64J6BQ/viewform">user survey</a> to tell us about your experience and report issues.</p>
		</div>
	</div>
	<br>
	<div class="card card-default">
		<div class="card-body">
			<h2 class="h4 card-title">Start Using the New DS Catalog</h2>
			<ul>
			<li>Enter a keyword or keywords in the search bar above
			<li>Browse and click on the facets on the left for drill down searching
			<li>Combine facet browsing and keyword search to refine results
			<li>Go to <a href="/advanced">Advanced Search</a> for more complex searching options
			<li>Save bookmarks and search history by <a href="/users/sign_up">creating an account here</a>
		</ul>
		</div>
	</div>
	<br>
	<div class="card card-default">
		<div class="card-body">
			<h2 class="h4 card-title">Dig Deeper with Linked Data</h2>

			The DS Catalog provides enhanced, standardized metadata using Linked Data Authorities such as <a href="https://wikidata.org/" target="_blank">Wikidata</a>, the <a href="https://www.getty.edu/research/tools/vocabularies/">Getty Vocabularies</a>, and <a href="https://www.oclc.org/research/areas/data-science/fast.html">FAST</a>. 
			&nbsp;<br>&nbsp;
			<dl>
				<dd class="col-md-12 blacklight-author_display" style="background-color: #e5b65157;padding: 20px;border-radius: 0px 20px 20px 20px;">
					Mariens체ss, Bartholom채us, -1504<br>
					<div class="ds-ld-bar">
						&nbsp;<a class="ds-ld-search" href="/?f%5Bauthor_facet%5D%5B%5D=Bartholom%C3%A4us%20Mariens%C3%BCss">Bartholom채us Mariens체ss</a><span class="ds-ld-float"><img alt="Linked Data indicator" class="ds-ld-img" src="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/null/external-13-nodes-elastic-search-sbts2018-flat-sbts2018.png" title="Linked Data">&nbsp;<a class="ds-ld-link" href="https://www.wikidata.org/wiki/Q114242413" target="_blank" title="Explore this term via Linked Data">WIKIDATA</a>&nbsp;</span>
					</div>
				</dd>
			</dl>

			<ul>
				<li>On the left: Click on DS Authority Values within each record to explore related manuscripts in the DS Catalog (<a href="https://digital-scriptorium.org/help/using-the-ds-catalog/">learn more about DS Authorities here</a>)
				<li>On the right: Explore people, places, and concepts outside the DS Catalog by clicking on the linked resources paired with DS Authority Values 
				<li>Enter the DS Catalog Wikibase and connect to other LOD Knowledge Graphs in the <a target="_blank" href="https://catalog.digital-scriptorium.org/query/">DS Wikibase SPARQL Endpoint</a>
			</ul>

			<p>The DS Catalog is the first member-supported national union catalog of medieval and early modern manuscripts in US collections built on Linked Open Data principles and practices. Do you represent a US institution with manuscript holdings and are you interested in joining DS?
			<a target="_blank" href="https://digital-scriptorium.org/about/membership-information/">Find out more about joining DS.</a></p>

		</div>
	</div>
	&nbsp;<br>

	<p>Project management and technical development was provided by the <a target="_blank" href="https://schoenberginstitute.org/">Schoenberg Institute for Manuscript Studies</a> at the University of Pennsylvania Libraries</p>

	<p>Additional support for the DS 2.0 Project was generously provided in 2021 by these DS Member institutions:</p> 
	<ul>
	The Bancroft Library, University of California, Berkeley<br>
	Beinecke Rare Book and Manuscript Library, Yale University<br>
	Columbia University Libraries<br>
	Houghton Library, Harvard University<br>
	The Huntington Library, Art Museum, and Botanical Gardens<br>
	Princeton University Libraries<br>
	Special Collections & University Archives, University of California, Riverside<br>
</ul>
	<!--
  <h2>ABOUT DS2.0</h2>

  <p>Digital Scriptorium (DS) is a growing consortium of American institutions with collections of global, premodern manuscripts. As an online union catalog, DS unites scattered rare materials, including dispersed manuscript leaves from dismembered books, into a national digital platform for cross-collection teaching and scholarly research. 
  </p>
  <p>
DS records not only include recognized touchstone materials, such as manuscripts signed and dated by their scribes or illuminators, but also unidentified manuscripts that are traditionally unlikely candidates for exhibition or reproduction in print. DS enables free and open discovery of information about historically significant but often understudied manuscript materials.
  </p>
  -->
  <!--
  <p>
    <ol>
      <li>To modify this text, you need to <a 
href="http://guides.rubyonrails.org/engines.html#improving-engine-functionality">override 
the Blacklight-provided view</a>.
  You can copy this file, located in the blacklight gem: <br />
  <%= Blacklight.root %>/app/views/catalog/_home_text.html.erb <br />
  to your own application: <br />
   <%= Rails.root %>/app/views/catalog/_home_text.html.erb
      </li>
      <li><a 
href="https://github.com/projectblacklight/blacklight/wiki/Indexing-your-data-into-solr">Index 
your own data</a> into Solr</li>
      <li><a 
href="https://github.com/projectblacklight/blacklight/wiki#blacklight-configuration">Configure 
Blacklight</a> to match your data and user-experience needs</li>
      <li><a href="https://github.com/projectblacklight/blacklight/wiki#support">Get in 
touch</a> with your comments, questions, and ideas</li>
    </ol>
  </p>
  -->
</div>

<!--
<p>Blacklight <%= Blacklight::VERSION %></p>
-->
