<div class="card show-tools mb-4">
  <div class="card-header">
    <h2 class="mb-0 h6">
      Links
    </h2>
  </div>
  <div class="list-group list-group-flush">
    <%= link_to 'For the complete catalog description, follow this link to the institutional record', document['institutional_record_link'].first, target: "_blank", class: 'list-group-item' if document['institutional_record_link'].present? %>
    <%= link_to 'To view our Linked Data record, follow this link to the DS Wikibase record', "https://catalog.digital-scriptorium.org/wiki/item:#{document['qid_meta'][2]}", target: "_blank", class: 'list-group-item' if document['qid_meta'].present? %>
  </div>
</div>