/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
 *= require 'chosen'
*/

.bg-dark { background-color: #E5B651 !important; }
.container-xl, .container-lg, .container-md, .container-sm, .container { max-width: 1280px; }
.col-md-3 {
	flex: 0 0 15%;
	max-width: 15%;
}
.navbar-logo {
  background: transparent image-url("ds-logo-blacklight-v03.png") no-repeat top left !important;
  background-size:contain !important;
  flex:unset !important;
  width:300px;
  margin-top:unset !important;
}
.navbar-search {
	min-height:100px;
	margin-bottom:25px;
}
.btn-primary { background-color: #C54B46 !important; border-color: unset !important; margin:-1px; color: white !important;}
.btn-secondary { background-color: #E5B651 !important; border-color: unset !important; margin:-1px; }

.navbar-dark .navbar-nav .nav-link { color: #3D2E0F !important; }

.bg-success, .facet-limit-active .card-header {
  background-color: #EBDABC !important;
}
.border-success, .facet-limit-active {
  border-color: #EBDABC !important;
}  
.text-success, .facet-values li .selected {
  color: #C54B46 !important;
}
.font-09-em {
	font-size:0.9em;
}
#facets { padding: 20px 20px 20px 0px; }
  
a { color: #2c14b2 !important; }
.ds-bar { background-color:#F8F4ED;
	border-radius:25px;
	padding:10px 10px 8px 20px; 
	}
.ds-ld-search { color: #665241 !important;
	font-weight: 500;
	text-decoration: underline;
	vertical-align: top;
	padding-left: 5px; 
	}
.ds-ld-bar { background-color:#F8F4ED;
	border-radius:0 25px 25px 25px;
	padding:10px 10px 8px 20px; 
	border: 1px solid #F1E9DC;
	}
.ds-bar:before, .ds-ld-bar:before { background-image: url("https://img.icons8.com/ios-glyphs/30/null/search--v1.png");
	width: 20px;
	background-size: 20px 20px;
	height: 20px;
	display: inline-block;
	content: "";
	opacity:0.3; 
	}
.ds-ld-float { float:right;
	margin-right:10px;
	}
.ds-ld-img { float:right;
	width:24px; 
	filter: grayscale(100%);
	}	
.ds-ld-link { color: #E5B651 !important;
	font-weight: 800;
	text-decoration: underline;
	vertical-align: top;
	padding-right: 7px; 
	}	
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.form-horizontal .form-group::after, .limit-criteria {
  clear: both;
}
.form-horizontal .form-group::before, .form-horizontal .form-group::after {
  content: " ";
  display: table;
}
.float-right {
	float:right;
}
.search-tips {
	background-color: #eee;
	margin-top: 0;
	padding-top: 0;
	top: 0px;
	position: absolute;
	padding: 7px;
	height: 3rem;
	display: inline-block;
	width: 100%;
	margin-left: 0;
	left: 0;
	padding-left: 15px;
	line-height: 2rem;
}
.margin-top-40px {
	margin-top:40px;
}
/*.card.facet-limit.blacklight-century_int::after {
  content: 'Use with 100+ year increments. Centuries start at year 1.';
  background-color: #E6E2DB;
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
}*/
.missing { 
	display: none;
}
.btn-link {
	color:#E5B651 !important;
}
